<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department Report</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Department Report</h1>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Employee Count</th>
                </tr>
            </thead>
            <tbody>
                {% for department_count in department_counts %}
                    <tr> 
                        <td>{{ department_count.department}}</td>
                        <td>{{ department_count.count}}</td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
</body>
</html>
